*{
    box-sizing: border-box;
}

h2 {
    background-color: bisque;
    margin: 20px 100px 20px 20px;
    display: inline-block;
}
h1{
    margin-top: 200px;
    display: none;
}

.d1{
    width: 100px;
    display: inline-block;
}

a{
     text-decoration: none;
     border: 1px red solid;
}
a:visited{
    display: none;
    color: green;
}
a:hover{
    background-color: rgb(rgb(179, 0, 255), green, blue);
   
}