body {
    background-color: antiquewhite;
    text-align: justify;
    font-size: 20px;
}
.css {
    background-color: rgb(229, 220, 220);
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.times{
    font-family: 'Times New Roman', Times, serif;
}
.courier{
    font-family: 'Courier New', Courier, monospace;
}
