body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #9263b4; 
  
}


nav ul {
  list-style: none;  
  margin: 0;
  display: flex; 
  padding: 0;
  gap: 120px;
  justify-content: space-around;     
}

nav a {
  text-decoration: none;
  color: white;      
  font-size: 18px;
  padding: 8px 12px;
  display: block;
}

nav a:hover {
  background-color: #555;
  border-radius: 6px;
}

@media (min-width: 1400px) {
  nav a {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1399px){
    nav a {
        font-size: 20px;
    }

}

@media (max-width: 767px) {
  nav a {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  nav ul {
    flex-direction: column; 
    align-items: stretch;     
  }
}